<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Counter Web Application</display-name>
  <filter>
    <description>
		</description>
    <display-name>SelectLocaleChangesFilter</display-name>
    <filter-name>SelectLocaleChangesFilter</filter-name>
    <filter-class>com.arthurspirke.cvcreator.filtres.SelectLocaleChangesFilter</filter-class>
  </filter>
  <filter>
    <description>
		</description>
    <display-name>GenerateResumeFilter</display-name>
    <filter-name>GenerateResumeFilter</filter-name>
    <filter-class>com.arthurspirke.cvcreator.filtres.GenerateResumeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SelectLocaleChangesFilter</filter-name>
    <url-pattern>/SelectLocaleChangesFilter</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>GenerateResumeFilter</filter-name>
    <url-pattern>/GenerateResumeFilter</url-pattern>
    <servlet-name>GenerateResumeController</servlet-name>
  </filter-mapping>
  <servlet>
    <description>
		</description>
    <display-name>FileUploader</display-name>
    <servlet-name>FileUploader</servlet-name>
    <servlet-class>com.arthurspirke.cvcreator.controller.FileUploader</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>UserPage</display-name>
    <servlet-name>UserPage</servlet-name>
    <servlet-class>com.arthurspirke.cvcreator.controller.UserPage</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>UpdateUserCV</display-name>
    <servlet-name>UpdateUserCV</servlet-name>
    <servlet-class>com.arthurspirke.cvcreator.controller.UpdateUserCV</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>CountryListController</display-name>
    <servlet-name>CountryListController</servlet-name>
    <servlet-class>com.arthurspirke.cvcreator.controller.CountryListController</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>StaticItemsLocale</display-name>
    <servlet-name>StaticItemsLocale</servlet-name>
    <servlet-class>com.arthurspirke.cvcreator.controller.StaticItemsLocale</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>SelectLocaleChangesController</display-name>
    <servlet-name>SelectLocaleChangesController</servlet-name>
    <servlet-class>com.arthurspirke.cvcreator.controller.SelectLocaleChangesController</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>GenerateResumeController</display-name>
    <servlet-name>GenerateResumeController</servlet-name>
    <servlet-class>com.arthurspirke.cvcreator.controller.GenerateResumeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploader</servlet-name>
    <url-pattern>/FileUploader</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserPage</servlet-name>
    <url-pattern>/UserPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUserCV</servlet-name>
    <url-pattern>/UpdateUserCV</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CountryListController</servlet-name>
    <url-pattern>/CountryListController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StaticItemsLocale</servlet-name>
    <url-pattern>/StaticItemsLocale</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectLocaleChangesController</servlet-name>
    <url-pattern>/SelectLocaleChangesController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GenerateResumeController</servlet-name>
    <url-pattern>/GenerateResumeController</url-pattern>
  </servlet-mapping>
</web-app>