<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Counter Web Application</display-name>
  <filter>
    <description>
		</description>
    <display-name>SelectLocaleChangesFilter</display-name>
    <filter-name>SelectLocaleChangesFilter</filter-name>
    <filter-class>com.arthurspirke.cvcreator.controller.filters.SelectLocaleChangesFilter</filter-class>
  </filter>
  <filter>
    <description>
		</description>
    <display-name>GenerateResumeFilter</display-name>
    <filter-name>GenerateResumeFilter</filter-name>
    <filter-class>com.arthurspirke.cvcreator.controller.filters.GenerateResumeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SelectLocaleChangesFilter</filter-name>
    <url-pattern>/SelectLocaleChangesFilter</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>GenerateResumeFilter</filter-name>
    <url-pattern>/GenerateResumeFilter</url-pattern>
    <servlet-name>GenerateResumeController</servlet-name>
  </filter-mapping>
  <servlet>
    <description>
		</description>
    <display-name>FileUploadController</display-name>
    <servlet-name>FileUploadController</servlet-name>
    <servlet-class>com.arthurspirke.cvcreator.controller.servlets.FileUploadController</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>UserPageController</display-name>
    <servlet-name>UserPageController</servlet-name>
    <servlet-class>com.arthurspirke.cvcreator.controller.servlets.UserPageController</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>UpdateUserResumeController</display-name>
    <servlet-name>UpdateUserResumeController</servlet-name>
    <servlet-class>com.arthurspirke.cvcreator.controller.servlets.UpdateUserResumeController</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>PlacesController</display-name>
    <servlet-name>PlacesController</servlet-name>
    <servlet-class>com.arthurspirke.cvcreator.controller.servlets.PlacesController</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>FieldsTitlesLangController</display-name>
    <servlet-name>FieldsTitlesLangController</servlet-name>
    <servlet-class>com.arthurspirke.cvcreator.controller.servlets.FieldsTitlesLangController</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>OptionsLangChangesController</display-name>
    <servlet-name>OptionsLangChangesController</servlet-name>
    <servlet-class>com.arthurspirke.cvcreator.controller.servlets.OptionsLangChangesController</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>GenerateResumeController</display-name>
    <servlet-name>GenerateResumeController</servlet-name>
    <servlet-class>com.arthurspirke.cvcreator.controller.servlets.GenerateResumeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadController</servlet-name>
    <url-pattern>/FileUploadController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserPageController</servlet-name>
    <url-pattern>/UserPageController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUserResumeController</servlet-name>
    <url-pattern>/UpdateUserResumeController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PlacesController</servlet-name>
    <url-pattern>/PlacesController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FieldsTitlesLangController</servlet-name>
    <url-pattern>/FieldsTitlesLangController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OptionsLangChangesController</servlet-name>
    <url-pattern>/OptionsLangChangesController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GenerateResumeController</servlet-name>
    <url-pattern>/GenerateResumeController</url-pattern>
  </servlet-mapping>
</web-app>